HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
.idea_modules/
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
bin/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.code-workspace

### OS X ###
.DS_Store