version: '3.8'
services:
  track-expenses-docker:
    container_name: track-expenses-container
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_DATABASE=trackexpensesapp
      - MYSQL_ROOT_PASSWORD=root
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: '512M'
        reservations:
          cpus: '0.25'
          memory: '128M'
    ports:
      - '3306:3306'
#    volumes:
#      - /tmp/mysql:/var/lib/mysql
