version: '3.8'
services:
  backend:
    build: .
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    ports:
      - "8080:8080"
    depends_on:
      - database

  database:
    image: mysql:8
    restart: always
    environment:
      - MYSQL_PASSWORD=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=trackexpensesapp
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: '512M'
        reservations:
          cpus: '0.25'
          memory: '128M'
    ports:
      - '3306:3306'
    volumes:
      - dbstore:/var/lib/mysql
volumes:
  dbstore:
