application:
  group: zagrodnicy (Bycza-zagroda)
  version: 0.1

#Datasource
spring:
  banner:
    location: classpath:banner.txt
  datasource:
    url: jdbc:mysql://db:3306/trackexpensesapp?useUnicode=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  liquibase:
    change-log: db/dbchangelog-dev.yaml
  #Jpa/Hibernate:
  jpa:
    open-in-view: false
    generate-ddl: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

server:
  port: 8080

# OpenApi-UI
springdoc:
  api-docs:
    path: /docs/api-docs
    enabled: true
  swagger-ui:
    path: /docs/swagger
    enabled: true